# Optional npm cache directory
.npm

# macOS
.DS_Store

# eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production

# vscode cache
.vscode/

# folders
node_modules/

